<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bluapp.androidview2">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <service android:name=".DeviceFeatures.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity12" />


        <service android:name=".DeviceFeatures.MyFirebaseMessagingService11">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity11" />

        <service android:name=".DeviceFeatures.GeofenceService" />

        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity13" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity14" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity15" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity16" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity17" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity18" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity19" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity20" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity10" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity9" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity8" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity7" />
        <activity android:name=".DeviceFeatures.ScanActivity" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity6" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity5" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity4" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity3" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity2" />
        <activity android:name=".DeviceFeatures.DeviceFeaturesActivity1" />
        <activity android:name=".firebaseMlKitAndDataBinding.FirebaseMlKitAndDataBindingActivity11" />
        <activity android:name=".firebaseMlKitAndDataBinding.FirebaseMlKitAndDataBindingActivity12" />
        <activity android:name=".firebaseMlKitAndDataBinding.FirebaseMlKitAndDataBindingActivity13" />
        <activity android:name=".firebaseMlKitAndDataBinding.FirebaseMlKitAndDataBindingActivity14" />
        <activity android:name=".firebaseMlKitAndDataBinding.FirebaseMlKitAndDataBindingActivity15" />
        <activity android:name=".firebaseMlKitAndDataBinding.FirebaseMlKitAndDataBindingActivity16" />
        <activity android:name=".firebaseMlKitAndDataBinding.FirebaseMlKitAndDataBindingActivity17" />
        <activity android:name=".firebaseMlKitAndDataBinding.FirebaseMlKitAndDataBindingActivity18" />
        <activity android:name=".firebaseMlKitAndDataBinding.FirebaseMlKitAndDataBindingActivity6" />
        <activity android:name=".firebaseMlKitAndDataBinding.FirebaseMlKitAndDataBindingActivity5" />
        <activity android:name=".firebaseMlKitAndDataBinding.FirebaseMlKitAndDataBindingActivity4" />
        <activity android:name=".firebaseMlKitAndDataBinding.FirebaseMlKitAndDataBindingActivity3" />
        <activity android:name=".firebaseMlKitAndDataBinding.FirebaseMlKitAndDataBindingActivity2" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode,face,ocr,ica" />

        <activity android:name=".firebaseMlKitAndDataBinding.FirebaseMlKitAndDataBindingActivity1" />
        <activity android:name=".MapAndService.MapAndServiceActivity20" />
        <activity android:name=".MapAndService.MapAndServiceActivity19" />
        <activity android:name=".MapAndService.MapAndServiceActivity18" />
        <activity android:name=".MapAndService.MapAndServiceActivity17" />
        <activity android:name=".MapAndService.MapAndServiceActivity16" />
        <activity android:name=".MapAndService.MapAndServiceActivity15" />

        <receiver android:name=".MapAndService.BrService4">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service android:name=".MapAndService.Service20" />
        <service android:name=".MapAndService.Service19" />
        <service android:name=".MapAndService.Service18" />
        <service android:name=".MapAndService.Service17" />
        <service android:name=".MapAndService.Service16" />
        <service android:name=".MapAndService.Service15" />
        <service android:name=".MapAndService.Service14" />
        <service android:name=".MapAndService.Service13" />

        <activity android:name=".MapAndService.MapAndServiceActivity14" />
        <activity android:name=".MapAndService.MapAndServiceActivity13" />
        <activity android:name=".MapAndService.MapAndServiceActivity12" />
        <activity android:name=".MapAndService.MapAndServiceActivity11" />
        <activity android:name=".MapAndService.MapAndServiceActivity10" />
        <activity android:name=".MapAndService.MapAndServiceActivity9" />
        <activity android:name=".MapAndService.MapAndServiceActivity8" />
        <activity android:name=".MapAndService.MapAndServiceActivity7" />
        <activity android:name=".MapAndService.MapAndServiceActivity6" />
        <activity android:name=".MapAndService.MapAndServiceActivity5" />
        <activity android:name=".MapAndService.MapAndServiceActivity4" />
        <activity android:name=".MapAndService.MapAndServiceActivity3" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MapAndService.MapAndServiceActivity2" />
        <activity android:name=".MapAndService.MapAndServiceActivity1" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity20" />
        <activity
            android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity19"
            android:theme="@style/NavTheme" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity18" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity17" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity16" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity15" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity14" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity13" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity12" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity9" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity11" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity8" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity10" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity6" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity5" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity4" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity3" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity2" />
        <activity android:name=".BluetoothAndNavigation.BluetoothAndNavigationActivity1" />
        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity20" />
        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity19" />
        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity18" />

        <service
            android:name=".WorkManagerAndJobSchedule.JobScheduler17"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity17" />

        <service
            android:name=".WorkManagerAndJobSchedule.JobScheduler16"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity16" />

        <service
            android:name=".WorkManagerAndJobSchedule.JobScheduler15"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity15" />

        <service
            android:name=".WorkManagerAndJobSchedule.JobScheduler14"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity14" />
        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity13" />
        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity12" />
        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity11" />
        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity10" />
        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity9" />
        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity8" />
        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity7" />
        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity6" />
        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity5" />

        <receiver android:name=".WorkManagerAndJobSchedule.BroadcastReceiver4">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity4" />
        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity3" />
        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity2" />
        <activity android:name=".WorkManagerAndJobSchedule.WorkManagerAndJobScheduleActivity1" />
        <activity android:name=".AndroidChart.AndroidChartActivity20" />
        <activity android:name=".AndroidChart.AndroidChartActivity19" />
        <activity android:name=".AndroidChart.AndroidChartActivity18" />
        <activity android:name=".AndroidChart.AndroidChartActivity17" />
        <activity android:name=".AndroidChart.AndroidChartActivity16" />
        <activity android:name=".AndroidChart.AndroidChartActivity15" />
        <activity android:name=".AndroidChart.AndroidChartActivity14" />
        <activity android:name=".AndroidChart.AndroidChartActivity13" />
        <activity android:name=".AndroidChart.AndroidChartActivity12" />
        <activity android:name=".AndroidChart.AndroidChartActivity11" />
        <activity android:name=".AndroidChart.AndroidChartActivity10" />
        <activity android:name=".AndroidChart.AndroidChartActivity9" />
        <activity android:name=".AndroidChart.AndroidChartActivity8" />
        <activity android:name=".AndroidChart.AndroidChartActivity7" />
        <activity android:name=".AndroidChart.AndroidChartActivity6" />
        <activity android:name=".AndroidChart.AndroidChartActivity5" />
        <activity android:name=".AndroidChart.AndroidChartActivity4" />
        <activity android:name=".AndroidChart.AndroidChartActivity3" />
        <activity android:name=".AndroidChart.AndroidChartActivity2" />
        <activity android:name=".AndroidChart.AndroidChartActivity1" />
        <activity android:name=".Canvas.CanvasActivity11" />
        <activity android:name=".Canvas.CanvasActivity21" />
        <activity android:name=".Canvas.CanvasActivity20" />
        <activity android:name=".Canvas.CanvasActivity19" />
        <activity android:name=".Canvas.CanvasActivity18" />
        <activity android:name=".Canvas.CanvasActivity17" />
        <activity android:name=".Canvas.CanvasActivity16" />
        <activity android:name=".Canvas.CanvasActivity15" />
        <activity android:name=".Canvas.CanvasActivity14" />
        <activity android:name=".Canvas.CanvasActivity13" />
        <activity android:name=".Canvas.CanvasActivity12" />
        <activity android:name=".Canvas.CanvasActivity10" />
        <activity android:name=".Canvas.CanvasActivity9" />
        <activity android:name=".Canvas.CanvasActivity8" />
        <activity android:name=".Canvas.CanvasActivity7" />
        <activity android:name=".Canvas.CanvasActivity6" />
        <activity android:name=".Canvas.CanvasActivity5" />
        <activity android:name=".Canvas.CanvasActivity4" />
        <activity android:name=".Canvas.CanvasActivity3" />
        <activity android:name=".Canvas.CanvasActivity2" />
        <activity android:name=".Canvas.CanvasActivity1" />
        <activity android:name=".ViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AndroidChip.AndroidChipActivity20" />
        <activity android:name=".AndroidChip.AndroidChipActivity19" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity18"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity17"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity16"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity15"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity14"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity13"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity12"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity11"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity10"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity9"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity8"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity7"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity6"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity5"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity4"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity3"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity2"
            android:theme="@style/ChipTheme" />
        <activity
            android:name=".AndroidChip.AndroidChipActivity1"
            android:theme="@style/ChipTheme" />
        <activity android:name=".Firestore.FirestoreActivity22" />
        <activity android:name=".Firestore.FirestoreActivity21" />
        <activity android:name=".Firestore.FirestoreActivity20" />
        <activity android:name=".Firestore.FirestoreActivity19" />
        <activity android:name=".Firestore.FirestoreActivity18" />
        <activity android:name=".Firestore.FirestoreActivity17" />
        <activity android:name=".Firestore.FirestoreActivity16" />
        <activity android:name=".Firestore.FirestoreActivity15" />
        <activity android:name=".Firestore.FirestoreActivity14" />
        <activity android:name=".Firestore.FirestoreActivity13" />
        <activity android:name=".Firestore.FirestoreActivity12" />
        <activity android:name=".Firestore.FirestoreActivity11" />
        <activity android:name=".Firestore.FirestoreActivity10" />
        <activity android:name=".Firestore.FirestoreActivity9" />
        <activity android:name=".Firestore.FirestoreActivity8" />
        <activity android:name=".Firestore.FirestoreActivity7" />
        <activity android:name=".Firestore.FirestoreActivity6" />
        <activity android:name=".Firestore.FirestoreActivity5" />
        <activity android:name=".Firestore.FirestoreActivity4" />
        <activity android:name=".Firestore.FirestoreActivity3" />
        <activity android:name=".Firestore.FirestoreActivity2" />
        <activity android:name=".Firestore.FirestoreActivity1" />
        <activity android:name=".Firebase.FirebaseActivity20" />
        <activity android:name=".Firebase.FirebaseActivity19" />
        <activity android:name=".Firebase.FirebaseActivity18" />
        <activity android:name=".Firebase.FirebaseActivity17" />
        <activity android:name=".Firebase.FirebaseActivity16" />
        <activity android:name=".Firebase.FirebaseActivity15" />
        <activity android:name=".Firebase.FirebaseActivity14" />
        <activity android:name=".Firebase.FirebaseActivity13" />
        <activity android:name=".Firebase.FirebaseActivity12" />
        <activity android:name=".Firebase.FirebaseActivity11" />
        <activity android:name=".Firebase.FirebaseActivity10" />
        <activity android:name=".Firebase.FirebaseActivity9" />
        <activity android:name=".Firebase.FirebaseActivity8" />
        <activity android:name=".Firebase.FirebaseActivity7" />
        <activity android:name=".Firebase.FirebaseActivity6" />
        <activity android:name=".Firebase.FirebaseActivity5" />
        <activity android:name=".Firebase.FirebaseActivity4" />
        <activity android:name=".Firebase.FirebaseActivity3" />
        <activity android:name=".Firebase.FirebaseActivity2" />
        <activity android:name=".Firebase.FirebaseActivity1" />
    </application>

</manifest>